{% extends 'base.html.twig' %}


{% block title %}Accueil | Darling's Movie
{% endblock %}

{% block body %}


<section>
	<div class="parent">
		<div class="div1">
			<div class="back__h1">
				<h1>
					<span>DARLING,</span>
					WHAT ARE WE WATCHING TONIGHT
					<span>?</span>
				</h1>
			</div>
			<div class="main__h1">
				<h1>
					<span>CHÉRI(E),</span>
					QU’EST QU’ON REGARDE CE SOIR
					<span id="h1__question">?</span>
				</h1>
			</div>
		</div>
		<div class="div2 d-flex justify-content-center align-items-center">
			<button class="carousel__btn--left" aria-label="Bouton précédent">
				<span class="visually-hidden">Bouton précédent</span>
				<i class="bi bi-arrow-left"></i>
			</button>
		</div>
		<div class="div3 d-flex justify-content-center align-items-center">
			<button class="carousel__btn--right" aria-label="Bouton suivant">
				<span class="visually-hidden">Bouton suivant</span>
				<i class="bi bi-arrow-right"></i>
			</button>
		</div>
		{# ! dynamique #}
		{% for movie in movies %}
		<div class="div4 d-flex" data-status="{{ loop.first ? 'active' : 'inactive' }}" id="movie{{ loop.index }}"> 
			{# loop.first est une variable fournie par Twig qui indique si c'est le premier tour de la boucle. #}
			{# id="movie{{ loop.index }}" : Cela attribue un identifiant unique à chaque film en utilisant le numéro de l'itération. #}
			<div class="main__picture w-25">
				<img class="main__picture--film pt-5" src="{{ 'img/' ~ movie.picture }}" alt="photo film">
				<div class="main__review">
					{{ movie.review }}
				</div>
			</div>
			<div class="main__film w-75 px-2">
				<div class="main__film--title">
					<h2> {{ movie.name }} </h2>
				</div>
				<div class="main__film--infos d-flex">
					<div class="genre px-5">
						<p>{{ movie.category.categoryName }}</p>
					</div>
					<div class="duree px-5">
						<p>{{ movie.duration }}</p>
					</div>
					<div class="date px-5">
						<p>{{ movie.releaseDate|date('m-Y') }}</p>
					</div>
				</div>
				<div class="main__film--text">
					<p>
						{{ movie.synopsis|striptags }}
					</p>
				</div>
				<div class="main__film--btn">
					<a class="btn btn-light" href="{{ path('detail_movie', {'id': movie.id}) }}" target="_blank">En savoir +</a>
				</div>
			</div>
		</div>
		{% endfor %}


	</section>
{% endblock %}